.manage-feeds {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .head {
    .h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    .subtitle {
      margin-top: 1.5rem;
      font-size: 1.4rem;
    }
  }

  .user-feed-list {
    border: 1px solid gray;

    .header {
      text-align: start;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 1rem;
      border: 1px solid gray;
    }

    .body {
      padding: 1rem;
      border: 1px solid gray;
      font-size: 1.4rem;

      .btn-unsub,
      .btn-rename {
        padding: 1rem 2rem;
        border-radius: 4px;
      }

      .btn-unsub:hover,
      .btn-rename:hover {
        background-color: #E6E6E6;
      }
    }
  }
}