.error-message {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: start;
    margin-top: 0.2rem;
    gap: 5px;

    .error-text {
      color: #FA3131FF;
        font-size: 1.2rem;
        font-family: Inter, sans-serif;
        font-weight: normal;
    }

    .icon.i-error {
      color: #FA3131FF;
        font-size: 1.5rem;
    }
}