.popup-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  .popup-title {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .icon {
    font-size: 1.6rem;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.popup-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.5rem;

  .label {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .input-title {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.popup-footer {
  text-align: right;
  padding: 1rem 1.5rem;

  .cancel,
  .rename {
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    font-size: 1.3rem;
  }

  .cancel:hover {
    background-color: #E6E6E6;
  }

  .rename {
    background-color: var(--secondary);
    color: white;
    margin-left: 0.6rem;

    &:hover {
      background-color: #00878c;
    }
  }
}
