.feed-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0.5rem;

  .feed-item {
    .feed {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: black;

      .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 230px;
      }

      .icon {
        font-size: 1.6rem;
      }

      .icon.i-rss {
        color: var(--secondary);
      }

      .source-icon {
        width: 16px;
      }
    }
  }
}