.feed-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;

    .feed-list__item {
        .feed {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}