.sources {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;

  .source {
    font-size: 1.2rem;
  }
}

.not-exist {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}