.floating {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

  .btn-check,
  .btn-refresh,
  .btn-next_post,
  .btn-prev_post,
  .btn-sort,
  .btn-show_post {
    display: flex;
    align-items: center;
    line-height: 1.5;
    border-radius: 3px;
  }

  .icon {
    font-size: 15px;
  }

  .btn-check:hover,
  .btn-refresh:hover,
  .btn-next_post:hover,
  .btn-prev_post:hover,
  .btn-sort:hover,
  .btn-show_post:hover {
    background-color: #E6E6E6;
  }

  .pull-left {
    display: flex;
    gap: 1rem;

    .btn-check,
    .btn-refresh {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      gap: 4px;
      line-height: 1.5;
    }
  }

  .pull-right {
    display: flex;
    gap: 1rem;

    .btn-next_post,
    .btn-prev_post {
      padding: 0.6rem 1rem;
    }

    .btn-sort {
      padding: 0.45rem 1rem;
    }

    .btn-show_post {
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  }
}

.item-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-y: auto;
  position: relative;
  height: 82vh;
  gap: 2rem;

  .item-list__item {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    border-radius: 10px;
    padding: 1.5rem;
    gap: 1rem;
  }
}

.item-list::-webkit-scrollbar {
  width: 10px;
}

.item-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--fourth);
}

.item-list::-webkit-scrollbar-thumb:hover {
  background: #6B6B6BFF;
}

.notif-not_found {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 3rem;
}