@import "../../theme/variables.scss";

.content {
  margin: 0 auto;

  .toolbar {
    .item-title {
      font-size: 3.5rem;
      font-weight: 700;
      color: $colorPrimary;
    }

    .hr {
      border: 2px solid $colorFourth;
      border-radius: 5px;
      margin: 1rem 0;
    }
  }
}

.floating {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

  .btn-check,
  .btn-refresh,
  .btn-next_post,
  .btn-prev_post,
  .btn-sort,
  .btn-show_post {
    display: flex;
    align-items: center;
    line-height: 1.5;
    border-radius: 3px;

    &:hover {
      background-color: $colorGrayHover;
    }

    &:disabled {
      background-color: transparent;
      cursor: default;
    }
  }

  .icon {
    font-size: 15px;
  }

  .pull-left {
    display: flex;
    gap: 1rem;

    .btn-check,
    .btn-refresh {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      gap: 4px;
      line-height: 1.5;
    }
  }

  .pull-right {
    display: flex;
    gap: 1rem;

    .btn-next_post,
    .btn-prev_post {
      padding: 0.6rem 1rem;
    }

    .btn-sort {
      padding: 0.45rem 1rem;
    }

    .btn-show_post {
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  }
}

.item-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-y: auto;
  position: relative;
  height: 82vh;
  gap: 2rem;
  scroll-behavior: smooth;

  .item {
    display: flex;
    flex-direction: column;
    background-color: $colorLight;
    border-radius: 10px;
    padding: 1.5rem;
    gap: 1rem;
  }
}

.item-list::-webkit-scrollbar {
  width: 10px;
}

.item-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $colorFourth;
}

.item-list::-webkit-scrollbar-thumb:hover {
  background: $colorDarkGray;
}

.not-exist {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3rem;
}

.failed-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 90%;

  .sad-smile {
    width: 64px;
  }

  .text-message {
    font-size: 1.8rem;
  }
}