$colorPrimary: #393E46;
$colorSecondary: #00ADB5;
$colorSecondaryHover: #00878C;
$colorSecondaryLight: #E0FFFF;
$colorThird: #222831;
$colorFourth: #EEEEEE;

$colorDanger: #D62D30;
$colorDangerHover: #FF5454FF;
$colorCancel: #424242FF;
$colorCancelBorder: #D0D5DDFF;
$colorGrayHover: #E6E6E6;
$colorDarkGrayHover: #373737;

$colorWarning: #FFC107;
$colorSuccess: #198754;

$colorGold: #FFD700FF;
$colorGray: #808080FF;
$colorDarkGray: #6B6B6BFF;
$colorLight: #F8F9FA;
$colorWhite: #FFFFFF;
$colorDark: #212529;
$colorBlack: #000000;

$colorWhiteHover: #F7F7F7;
$colorLightHover: #959393;

$colorBackGroundNotFoundPage: #22232E;
$colorLoader: #25B09B;