.content {
    margin: 0 auto;

    .toolbar {
        .item-title {
            font-size: 3.5rem;
            font-weight: 700;
            color: var(--primary);
        }

        .hr {
            border: 2px solid var(--fourth);
            border-radius: 5px;
            margin: 1rem 0;
        }

        .sources {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            align-items: center;

            .source {
                font-size: 1.2rem;
            }
        }
    }
}