@import "../../theme/variables.scss";

.default {
  border-radius: 10px;
  font-weight: bold;
  padding: 2px 6px;
  font-size: 9px;
  line-height: 14px;
  color: $colorWhite;

  &.file-count {
    background-color: $colorGray;
  }

  &.feed-count {
    background-color: $colorSecondary;
  }
}