@import "../../theme/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorWhiteHover;
  height: 6vh;
  margin-bottom: 1vh;
  padding: 0 2rem;

  .navbar-brand {
    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1;
    }

    .logo img {
      width: 64px;
    }

    .logo:hover {
      opacity: 1;
    }
  }

  .navbar-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .useful-links {
      display: flex;
      gap: 1rem;

      .link {
        all: initial;
        cursor: pointer;
        display: flex;
        align-items: center;

        .icon {
          font-size: 2.8rem;
        }
      }
    }

    .dropdown {
      position: relative;

      .btn-user {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1.5rem;
        font-weight: 500;
        color: $colorPrimary;
        padding: 2rem;
        border: none;
      }

      .btn-user:hover {
        background-color: $colorGrayHover;
      }

      .menu-settings {
        position: absolute;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        padding: 0.5rem 0;
        width: 165px;
        right: 0;
        background-color: $colorWhite;
        border-radius: 3px;

        .hr {
          border: 1px solid $colorFourth;
          margin: 0.5rem 0;
        }

        .link {
          display: block;
          padding: 3px 2rem;
          line-height: 1.5;
          font-size: 1.3rem;
          color: $colorPrimary;
          white-space: nowrap;
          cursor: pointer;
          border: none;
          background-color: transparent;
          width: 100%;
          text-align: start;

          &:hover {
            color: $colorWhite;
            background-color: $colorSecondary;
          }
        }
      }
    }
  }
}