@import "../../theme/variables.scss";

.popup-body {
  padding: 2rem;

  .message {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }

  .btn-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0 1rem;

    .cancel,
    .delete {
      padding: 1rem 2rem;
      border-radius: 5px;
    }

    .cancel {
      color: $colorCancel;
      border: 2px solid $colorCancelBorder;

      &:hover {
        background-color: $colorCancelBorder;
      }
    }

    .delete {
      color: white;
      background-color: $colorDanger;
      border: 2px solid $colorDanger;

      &:hover {
        background-color: $colorDangerHover;
        border-color: $colorDangerHover;
      }
    }
  }
}