:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 10px;

    --primary: #393E46;
    --secondary: #00ADB5;
    --third: #222831;
    --fourth: #EEEEEE;
    --danger: #D62D30;
    --warning: #FFC107;
    --success: #198754;
    --light: #F8F9FA;
    --dark: #212529;
}

body {
    max-width: 2560px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    opacity: 0.5;
}